@media screen and (max-width: 420px) {
    body {
        overflow: hidden;
    }

    .dialogue {
        font-size: var(--secondary-font-size);
    }

    .speechBubble {
        height: 200px;
    }

    .dialogueControls {
        bottom: 19rem;
        right: 1rem;
    }

    .dialogueButtons {
        background-color: var(--white);
        padding: .5rem 1rem;
    }

    #kleverTitle > img {
        width: 300px;
    }

    #klever-loading-screen {
        max-width: 60%;
    }

    .menuButtons {
        font-size: 60px;
        padding: 1rem 2rem 1rem 1rem;
    }

    nav {
        overflow: hidden;
    }

    .addCoins {
        display: none;
    }

    #gameModeGrid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        overflow-y: scroll;
        height: calc(100vh - 120px);
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .navButtons > span {
        display: none;
    }

    .navButtons.logo {
        display: none;
    }

    .navButtons.menu {
        display: flex;
    }

    .walletWrapper {
        width: 140px;
    }

    .toggleTheme {
        width: 30px;;
        height: 30px;
        margin-right: 10px;
    }

    .switchThemes {
        width: 100%;
        height: 30px;
    }

    .themeSlider {
        width: 30px;
        height: 30px;
    }

    .themeSlider::before {
        width: 30px;
        height: 30px;
    }

    #theme:checked ~ .themeSlider::before {
        transform: unset;
    }

    #gameplayArea {
        height: 100vh;
        overflow: hidden;
    }

    #gameplayArea > .centeredContainer {
        margin-bottom: 1rem;
    }

    .questionSection {
        width: auto;
        min-width: 85%;
        height: 150px;
        padding: 1rem;
        font-size: var(--secondary-font-size);
        margin: 4rem 1rem 0 1rem;
        box-shadow: none;
    }

    #questionNumber {
        font-size: var(--default-font-size);
        width: 40px;
        height: 40px;
    }

    #questionText {
        padding-inline: 24px;
    }

    .answersContainer {
        min-width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-top: 20%;
        margin-bottom: 1rem;
    }

    .responseOptionButton {
        font-size: var(--secondary-font-size);
        height: 80px;
    }

    .answerKey {
        padding: 50px 75px 50px 0;
    }

    .responseOptionButton > i {
        font-size: var(--default-font-size);
        padding-inline: 25px;
    }

    .resultIndicator {
        font-size: 30px;
        padding-inline: 25px;
    }

    .countdownTimerContainer {
        top: -10%;
        padding: 15px;
    }

    #countdown {
        scale: 1.4;
    }

    #gameThree {
        display: none;
    }

    #gameThreeWrapper {
        height: 100vh;
        width: 100%;
    }

    .gameThreeBoard {
        box-sizing: content-box;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }

    .gameContainer {
        position: relative;
        width: 100%;
        display: grid;
        gap: 0.6em;
    }

    .card-placeholder-image {
        width: 80%;
        height: 80%;
    }

    .card-container {
        position: relative;
        width: 4.25em;
        height: 4.25em;
        cursor: pointer;
    }

    .card-before .placeholder-image {
        width: 80%;
        height: 80%;
    }

    /* ! Game Two */
    #gameTwo {
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    #board {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #boardCellGrid {
        position: relative;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        box-sizing: border-box;
        max-width: 90%;
    }

    .boardCell {
        text-align: center;
        box-sizing: border-box;
        padding: 10.5px;
        width: 100%;
        height: 100%;
    }

    #player {
        background-image: url('/assets/images/icons/pawn.png');
        background-size: 17.5px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--orange);
        display: flex;
        align-items: center;
        text-align: center;
        width: 31px;
        height: 31px;
        position: absolute;
        transition: .3s ease;
    }

    .finish {
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
    }

    .encounter {
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
    }

    .portal {
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
        border: 5px solid rgba(0, 0, 0, 0.3);
    }

    .questionContainer {
        top: 20%;
        max-width: 90%;
        max-height: 30%;
    }

    #gameTwoQuestion {
        font-size: var(--default-font-size);
        padding-inline: 2rem;
    }

    .questionChoices {
        width: 90%;
        top: 55%;
    }

    .questionAnswers {
        font-size: var(--secondary-font-size);
        border-radius: 10px;
        width: 100%;
        margin: .5rem auto;
    }

    #board > #rollDiceButton {
        margin: 2rem auto;
    }

    .spinnerWrapper {
        width: 90%;
        max-width: none;
        max-height: none;
        position: absolute;
        transform: unset;
        top: unset;
        left: unset;
        padding: 0;
        border-radius: 1em;
        margin-top: 50%;
    }

    #selectedDisasterWrapper {
        width: auto;
        max-width: none;
        max-height: none;
        position: relative;
        transform: none;
        left: unset;
        padding: 3em;
        border-radius: 1em;
        top: 25%;
    }

    #contentUnavailablePage > span {
        font-size: var(--default-font-size);
        padding-inline: 2rem;
    }

    /* ! Game Over Screen */
    #gameOverScreen {
        overflow: hidden;
    }

    #gameOverContentWrapper  {
        border-radius: 20px;
        width: 90%;
        height: 35%;
        margin-top: 3.5rem;
        padding: 0;
    }

    #celebrationIcon {
        position: absolute;
        width: 80px;
        height: 80px;
    }

    #gameOverHeader {
        font-family: var(--default-font);
        font-size: var(--medium-font-size);
        font-weight: bold;
        padding-inline: 2rem;
    }

    #gameOverButtonsContainer {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
    }

    .gameEndButton {
        font-family: var(--default-font);
        font-size: var(--medium-font-size);
        margin: 0 0 1rem 0;
        padding: 1rem 0;
        width: 90%;
    }

    .gameEndButton:hover {
        color: var(--white);
        background-color: var(--active);
        cursor: pointer;
    }

    #gameOverFactsContainer {
        display: none;
    }

    #gameScore {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #gameScore > * {
        margin: 5px auto;
    }

    .gameScoreDisplay > * {
        margin: 5px auto;
    }

    #menuTipSection {
        display: none;
    }
}

@media screen and (max-width: 1440px) {
    .answersContainer {
        grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    }

    #coinsBundleGrid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .imageWrapper > img {
        width: 75px;
    }
}