@media screen and (max-width: 1440px) {
    .answers-container {
        grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    }

    #coins-bundle-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .imageWrapper > img {
        width: 75px;
    }
}

@media screen and (max-width: 420px) {
    body {
        overflow: hidden;
    }

    .dialogue {
        font-size: var(--secondary-font-size);
    }

    .speech-bubble {
        height: 200px;
    }

    .dialogue-controls {
        bottom: 19rem;
        right: 1rem;
    }

    .dialogue-buttons {
        background-color: var(--white);
        padding: .5rem 1rem;
    }

    #klever-title > img {
        width: 300px;
    }

    #klever-loading-screen {
        max-width: 60%;
    }

    .menu-buttons {
        font-size: 60px;
        padding: 1rem 2rem 1rem 1rem;
    }

    nav {
        overflow: hidden;
    }

    .add-coins {
        display: none;
    }

    #game-mode-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        overflow-y: scroll;
        height: calc(100vh - 120px);
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .nav-buttons > span {
        display: none;
    }

    .nav-buttons.logo {
        display: none;
    }

    .nav-buttons.menu {
        display: flex;
    }

    .wallet-wrapper {
        width: 140px;
    }

    .toggle-theme {
        width: 30px;;
        height: 30px;
        margin-right: 10px;
    }

    .switch-themes {
        width: 100%;
        height: 30px;
    }

    .theme-slider {
        width: 30px;
        height: 30px;
    }

    .theme-slider::before {
        width: 30px;
        height: 30px;
    }

    #theme:checked ~ .theme-slider::before {
        transform: unset;
    }

    #gameplay-area {
        height: 100vh;
        overflow: hidden;
    }

    #gameplay-area > .centered-container {
        margin-bottom: 1rem;
    }

    .question-section {
        width: auto;
        min-width: 85%;
        height: 150px;
        padding: 1rem;
        font-size: var(--secondary-font-size);
        margin: 4rem 1rem 0 1rem;
        box-shadow: none;
    }

    #question-number {
        font-size: var(--default-font-size);
        width: 40px;
        height: 40px;
    }

    #question-text {
        padding-inline: 24px;
    }

    .answers-container {
        min-width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-top: 20%;
        margin-bottom: 1rem;
    }

    .response-option-button {
        font-size: var(--secondary-font-size);
        height: 80px;
    }

    .answer-key {
        padding: 50px 75px 50px 0;
    }

    .response-option-button > i {
        font-size: var(--default-font-size);
        padding-inline: 25px;
    }

    .result-indicator {
        font-size: 30px;
        padding-inline: 25px;
    }

    .countdown-timer-container {
        top: -10%;
        padding: 15px;
    }

    #countdown {
        scale: 1.4;
    }

    #game-three {
        display: none;
    }

    #game-three-wrapper {
        height: 100vh;
        width: 100%;
    }

    .game-three-board {
        box-sizing: content-box;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }

    .game-container {
        position: relative;
        width: 100%;
        display: grid;
        gap: 0.6em;
    }

    .card-placeholder-image {
        width: 80%;
        height: 80%;
    }

    .card-container {
        position: relative;
        width: 4.25em;
        height: 4.25em;
        cursor: pointer;
    }

    .card-before .placeholder-image {
        width: 80%;
        height: 80%;
    }

    /* ! Game Two */
    #game-two {
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    #board {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #board-cell-grid {
        position: relative;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        box-sizing: border-box;
        max-width: 90%;
    }

    .board-cell {
        text-align: center;
        box-sizing: border-box;
        padding: 10.5px;
        width: 100%;
        height: 100%;
    }

    #player {
        background-image: url('/assets/images/icons/pawn.png');
        background-size: 17.5px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--orange);
        display: flex;
        align-items: center;
        text-align: center;
        width: 31px;
        height: 31px;
        position: absolute;
        transition: .3s ease;
    }

    .finish {
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
    }

    .encounter {
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
    }

    .portal {
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
        border: 5px solid rgba(0, 0, 0, 0.3);
    }

    .questionContainer {
        top: 20%;
        max-width: 90%;
        max-height: 30%;
    }

    #game-two-question {
        font-size: var(--default-font-size);
        padding-inline: 2rem;
    }

    .question-choices {
        width: 90%;
        top: 55%;
    }

    .question-answers {
        font-size: var(--secondary-font-size);
        border-radius: 10px;
        width: 100%;
        margin: .5rem auto;
    }

    #board > #roll-dice-button {
        margin: 2rem auto;
    }

    .spinner-wrapper {
        width: 90%;
        max-width: none;
        max-height: none;
        position: absolute;
        transform: unset;
        top: unset;
        left: unset;
        padding: 0;
        border-radius: 1em;
        margin-top: 50%;
    }

    #selected-disaster-wrapper {
        width: auto;
        max-width: none;
        max-height: none;
        position: relative;
        transform: none;
        left: unset;
        padding: 3em;
        border-radius: 1em;
        top: 25%;
    }

    #content-unavailable-page > span {
        font-size: var(--default-font-size);
        padding-inline: 2rem;
    }

    /* ! Game Over Screen */
    #game-over-screen {
        overflow: hidden;
    }

    #game-over-content-wrapper  {
        border-radius: 20px;
        width: 90%;
        height: 35%;
        margin-top: 3.5rem;
        padding: 0;
    }

    #celebration-icon {
        position: absolute;
        width: 80px;
        height: 80px;
    }

    #game-over-header {
        font-family: var(--default-font);
        font-size: var(--medium-font-size);
        font-weight: bold;
        padding-inline: 2rem;
    }

    #game-over-buttons-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
    }

    .game-end-button {
        font-family: var(--default-font);
        font-size: var(--medium-font-size);
        margin: 0 0 1rem 0;
        padding: 1rem 0;
        width: 90%;
    }

    .game-end-button:hover {
        color: var(--white);
        background-color: var(--active);
        cursor: pointer;
    }

    #game-over-facts-container {
        display: none;
    }

    #game-score {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #game-score > * {
        margin: 5px auto;
    }

    .game-score-display > * {
        margin: 5px auto;
    }

    #menu-tip-section {
        display: none;
    }
}
