/* ! Navigation */
nav {
    display: flex;
    align-items: center;
    position: absolute;
    inset: 0 0 auto 0;
    padding: 10px;
    height: auto;
    z-index: 2;
    justify-content: space-between;
}

#nav {
    display: none;
}

.nav-buttons-wrapper {
    display: flex;
    justify-content: flex-start;
}

.nav-buttons {
    border: 3px solid transparent;
    border-radius: 0;
    padding: 10px 0;
    margin-inline: 5px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-buttons > svg {
    width: 100%;
    max-width: 22px;
    align-items: center;
    margin-right: 5px;
}

.nav-buttons:hover > svg {
    fill: var(--orange);
}

.nav-buttons > img {
    width: 100px;
    height: auto;
}

.nav-buttons.logo {
    margin-right: 20px;
}

.nav-buttons.menu {
    display: none;
}

.nav-buttons:hover {
    color: var(--orange);
}

.nav-buttons:before {
    background: var(--orange);
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    height: 4px;
    border-radius: 50px;
    transition-property: left, right;
    transition-duration: 0.175s;
    transition-timing-function: ease-in;
}

.nav-buttons:hover:before, .nav-buttons:focus:before, .nav-buttons:active:before {
    left: 0;
    right: 0;
    transition-duration: 0.35s;
    transition-timing-function: ease-out;
}
