@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Inter:wght@100..900&family=Readex+Pro:wght@160..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    /* ? Fonts */
    --Inter: 'Inter', sans-serif;
    --Gabarito: 'Gabarito', sans-serif;
    --Readexpro: 'Readex Pro', sans-serif;
    --Ubuntu: 'Ubuntu', sans-serif;

    --default-font: var(--Readexpro), system-ui, -apple-system, BlinkMacSystemFont;
    --secondary-font: var(--Inter), system-ui, -apple-system, BlinkMacSystemFont;
    --tertiary-font: var(--Gabarito), system-ui, -apple-system, BlinkMacSystemFont;
    --fourth-font: var(--Ubuntu), system-ui, -apple-system, BlinkMacSystemFont;

    /* ? Font sizes */
    --tertiary-font-size: clamp(12px, .95rem, 1rem);
    --secondary-font-size: clamp(14px, 1rem, 1.25rem);
    --default-font-size: clamp(16px, 1.125rem, 1.5rem);
    --medium-font-size: clamp(20px, 1.625rem, 2rem);
    --large-font-size: clamp(26px, 2rem, 2.25rem);
    --extra-large-font-size: clamp(32px, 4rem, 3.235rem);

    /* ? Theme */
    --white: #f4f4f4;
    --grey: #c2c2c2;
    --black: #0A090C;
    --orange: #FF6542;
    --red: #f53131;
    --green: #38b35d;
    --blue: #2E5EAA;
    --yellow: #e5b400;
    --purple: #645E9D;
    --blue-gradient: linear-gradient(to bottom right,  #2E5EAA, #645E9D);
    --orange-gradient: linear-gradient(to bottom right, #FF6542, #88292F);

    /* Game Theme */
    --active: var(--orange);
    --theme-inactive: var(--grey);
    --theme-warning: var(---red);
    --theme-success: var(--theme-blue);
    --correct: var(--green);
    --incorrect: var(--red);

    /* ? Shades */
    --black-light: #26242E;
    --orange-light: #FF8A70;
    --orange-shade: #FF481F;
    --purple-light: #8480B3;
    --purple-shade: #494573;

    /* ? State Themes */
    --warning: var(--red);
    --success: var(--green);
    --info: var(--blue);
    --active: var(--orange);
    --inactive: var(--grey);
    --hovered: var(--orange);
}

* {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: var(--active);
}

a:hover {
    text-decoration: underline 2px solid var(--active);
    cursor: pointer;
}

h1 {
    font-size: var(--medium-font-size);
    text-align: center;
}

.animate__animated.animate__fadeInLeft, .animate__animated.animate__fadeInRight {
    --animate-duration: .3s;
}

/* ! Utility */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    color: var(--black);
    font-family: var(--default-font);
    font-size: var(--medium-font-size);
    text-align: justify;
}

.textCenter {
    text-align: center !important;
}

.marginTop30px {
    margin-top: 30px;
}

.marginBottom5px {
    margin-bottom: 5px;
}

.btn {
    color: var(--white);
    fill: var(--white);
    background-color: var(--purple);
    font-family: var(--default-font);
    font-size: var(--default-font-size);
    padding: .5rem 1rem;
    min-width: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    transition: .1s ease;
}

.btn:hover {
    color: var(--white);
    fill: var(--white);
    background: var(--orange);
    cursor: pointer;
}

.default-button {
    color: var(--white);
    background-color: var(--purple);
    font-family: var(--default-font);
    font-size: var(--default-font-size);
    padding: .5rem 1rem;
    outline: none;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.default-button > ion-icon {
    margin-right: 5px;
}

/* ! Loading screen */
#loadingScreen {
    width: 100%;
    height: 100%;
    background-color: var(--black);
    z-index: 999;
    display: block;
    position: fixed;
    inset: 0;
}

#loadingText {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-family: var(--Ubuntu);
    font-weight: bold;
    font-size: var(--large-font-size);
    text-align: center;
    z-index: 9999;
}

#loaderTop {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
}

#loaderTop::before {
    background: var(--orange);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
}

#loadingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#loadingIcon {
    width: 7.25em;
    transform-origin: center;
    animation: loadingSpin 2s linear infinite;
}

#loadingProgress {
    fill: none;
    stroke: var(--black-light);
    stroke-width: 5;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: loadingDash 1.5s ease-in-out infinite;
}

@keyframes loadingSpin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingDash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

/* ! Intro Loading Screen */
#main-loading-screen {
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border-bottom: 0 solid black;
}

#klever-loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    z-index: 999;
}

.mainLoaded {
    width: 100%;
    height: 100%;
    animation: 0.8s ease-in-out pageLoad forwards;
    animation-delay: 5.5s;
}

.logoLoaded {
    opacity: 0;
    animation: 4s ease-in-out pageLoadLogo forwards;
    animation-delay: 1s;
}

/* ! Animations */
@keyframes pageLoad {
    from {
        height: 100%;
        border-bottom: 0 solid black;
    }
    50% {
        border-bottom: 100px solid black;
    }
    to {
        height: 0;
        border-bottom: 0 solid black;
    }
}

@keyframes pageLoadLogo {
    from {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* ! Content Not Yet Available Page */
#content-unavailable-page {
    color: var(--white);
    fill: var(--white);
    background-color: var(--black);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 999;
}

#content-unavailable-page > svg {
    width: 20%;
    height: 20%;
}

#content-unavailable-page > span {
    font-family: var(--tertiary-font);
    font-size: var(--large-font-size);
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 2rem;
}

#content-unavailable-page > button {
    color: var(--white);
    background-color: transparent;
    font-family: var(--tertiary-font);
    font-size: var(--medium-font-size);
    border: 3px solid var(--white);
    border-radius: 10px;
    padding: .5rem 1rem;
    margin-top: 5rem;
    outline: none;
    cursor: pointer;
}

#content-unavailable-page > button:hover {
    color: var(--black);
    background-color: var(--white);
}

.input-fields {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 70%;
}

.input-fields input {
    color: var(--black);
    background: transparent;
    font-family: var(--secondary-font);
    font-size: var(--default-font-size);
    margin-bottom: 10px;
    border: 2px solid var(--black);
    border-radius: 3px;
    outline: none;
    width: 100%;
    padding: 10px 10px;
    transition: .3s ease;
}

.input-fields label {
    color: var(--black);
    background-color: var(--white);
    font-family: var(--default-font);
    font-size: var(--default-font-size);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5px;
    margin: 10px 5px;
    pointer-events: none;
    transition: .3s ease;
}

.input-fields input:focus,
.input-fields input:valid {
    border-color: var(--active);
}

.input-fields input:focus ~ label,
.input-fields input:valid ~ label {
    color: var(--active);
    font-size: 14px;
    top: -16px;
    left: 0;
}