.dialogue-wrapper {
    position: fixed;
    display: flex;
    inset: auto 10px 10px 10px;
}

.speech-bubble {
    background-color: var(--white);
    border-radius: 30px;
    overflow: auto;
    padding: 3rem;
    position: relative;
    width: 100%;
    height: 150px;
}

.dialogue {
    color: var(--black);
    background-color: var(--white);
    font-family: var(--default-font);
    font-size: var(--medium-font-size);
    text-align: justify;
    text-overflow: ellipsis;
}

.dialogue-controls {
    position: absolute;
    bottom: 2rem;
    right: 3rem;
}

.dialogue-buttons {
    color: var(--black);
    background-color: transparent;
    font-size: 2rem;
    display: inline-flex;
    text-align: center;
    align-items: center;
    position: relative;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.dialogue-buttons:hover {
    color: var(--white);
    background-color: var(--black);
}

.skip-dialogue-button {
    color: var(--white);
    font-family: var(--default-font);
    font-size: var(--large-font-size);
    font-weight: bold;
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 10;
}

.fast-forward {
    margin-left: 10px;
}

.skip-dialogue-button:hover > .fast-forward {
    animation: fastForward 2s infinite;
}

@keyframes fastForward {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 0;
        transform: translateX(20px);
    }
    55% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}